fieldset.singleRow
    -var discipline =  [ 'Camouflage', 'Chasse', 'Sixième sens', 'Orientation', 'Guérison','Maîtrise des Armes', 'Bouclier Psychique', 'Puissance Psychique', 'Communication Animale', 'Maîtrise Psychique de la Matière' ]
    legend Discipline:
    lebel
        = "Veuillez choisir 5 disciplines..."
    p 1: &ensp;
        select
            for item in discipline
                option #{item}
    br
    br
    p 2: &ensp;
        select
            for item in discipline
                option #{item}
    br
    br
    p 3: ensp;
    select
        for item in discipline
            option #{item}
br
br
p 4: &ensp;
    select
        for item in discipline
            option #{item}
br
br
p 5: &ensp;
    select
        for item in discipline
            option #{item}
